.header {
	border-bottom: 1px solid $gray;
}
.header__inner {
	min-height: 80px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__logo {
	font-family: "Bebas Neue";
	font-weight: 400;
	font-size: 36px;
	color: $black;
}
.nav {
	display: flex;
	align-items: center;
}
.nav__social-link {
}
.nav__burger {
}
.nav__menu {
	display: none;
}
.nav__menu-active{
	display: block;
}
.nav__item {
}
.nav__link {
}