.now {
	padding: 80px 0;
}
.now__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.now__content {
	max-width: 480px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.now__title {
	margin-bottom: 10px;

	font-family: 'Bebas Neue';
	font-weight: 400;
	font-size: 40px;
	color: $black;
}
.now__descr {
	margin-bottom: 25px;

	font-family: 'Abel';
	font-weight: 400;
	font-size: 28px;
	line-height: 36px;
	color: $black;
}
.now__btn {
	font-family: 'Signika';
	font-weight: 400;
	font-style: 23px;
	color: $black;
	
	& span{
		margin-left: 5px;
		transition: margin-left .2s linear;
	}
	&:hover{
		& span{
			margin-left: 10px;
		}
	}
}
.now__img {
	width: 530px;
	height: 360px;

	background-color: $gray;
	border-radius: 45px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: "Russo One";
	font-weight: 400;
	font-size: 36px;
	color: $black;
}